---
layout: home
title: Entwicklungsreport 2021
---
<div>
    <h1 id="splash-header" class="junicode normal tc near-white">Was formt die Zukunft des Journalismus?</h1>
    <h1 class="mt2 mb5 ml7-ns mr7-ns f1-ns f5-ns f6 lh-copy tc mono light-silver">Die Zukunft bleibt trotz aller gegenteiligen Versuche unvorhersagbar—eine Lektion, die zu genüge durch die letzten 18 Monate wiederholt wurde. Und ebenso wie es nicht die <i>eine gelebte journalistische Gegenwart</i> gibt, wird es auch nicht die <i>eine singuläre Zukunft des Journalismus</i> geben.</h1>

    <div class="flex flex-wrap w-100 mt7">
        <div class="w-25-ns w-0 junicode" id="nav">
            <button class="near-white dib dn-ns bn pa1 pl2 pr2" id="menu-button">Contents</button>
            <nav class="w-100 dn dib-ns" id="contents">
                <ul>
                    {% for article in site.trends %}
                        <li class="mb3"><a href="#{{ article.title | replace: " ", "_" }}" class="hover-white link light-silver">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="w-75-ns w-100">
            {% for article in site.trends %}
            <section class="near-white w-100 lh-copy measure">
                <h2 class="pt2 pb1 sticky-header junicode f3 bg-near-black" id="{{ article.title | replace: " ", "_" }}">
                    <a class="near-white link" href="#{{ article.title | replace: " ", "_" }}">{{article.title}}</a>
                </h2>
                <p class="junicode f2">{{article.subtitle}} <a class="f6 pa1 pl2 pr2 br-pill link near-white ba mt0 ml2 mono fs-normal tweet-button" target="_blank" href="https://twitter.com/intent/tweet/?text={{ article.subtitle | replace: " ", "%20" }}%20{{ url }}#{{ article.title | replace: " ", "_" }}">Tweet</a></p></p>
                {{article.content}}
            </section>
            {% endfor %}
        </div>
    </div>
</div>

{% include script.html %}