<footer class="h6 bt bb pa3 mb0 flex flex-wrap mono">
    <p class="mr4 f6 mt1 mono mr6-ns">Ein Projekt des<br>SZ Innovationsteams<br>Oktober 2021</p>
    <p class="mr4 f6 mt1 mono"><a class="link dim near-white" href="{{site.url}}/about">Über den Report →</a></p>
    <p class="f6 mt3 mr5"><a class="link dim near-white" href="/">Impressum</a></p>
    <p class="f6 mt3 mr5"><a class="link dim near-white" href="https://waspassiert.substack.com/">Newsletter</a></p>
    <p class="f6 mt3 mr5"><a class="link dim near-white" href="https://github.com/sz-innovation/entwicklungsreport-2021">Code on Github</a></p>
    <p class="f6 mt3">© München, 2021</p>
</footer>