<footer class="h6 bt bb pa3 mb0 flex flex-wrap mono txt-color items-center">
    <p class="f6 mt3-ns mr3 mono w-100 w-20-ns">Ein Projekt des<br>SZ Innovationsteams<br>Oktober 2021</p>
    <p class="f6 mr3 mt3-ns mr5-ns"><a class="link dim txt-color" href="https://projekte.sueddeutsche.de/artikel/verlag/impressum-e287935/">Impressum</a></p>
    <p class="f6 mr3 mt3-ns mr5-ns"><a class="link dim txt-color" href="https://waspassiert.substack.com/">Newsletter</a></p>
    <p class="f6 mr3 mt3-ns mr5-ns"><a class="link dim txt-color" href="https://github.com/sz-innovation/entwicklungsreport-2021">Code on Github</a></p>
    <p class="f6 mr3 mt3">© München, 2021</p>
</footer>