<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/styles.css">

    <!-- HTML Meta Tags -->
    <title>{{page.title}}</title>
    <meta name="description" content="Ein Trendreport für die nächsten Jahre — ganz ohne Hype">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://sz-innovation.github.io/entwicklungsreport-2021/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="Ein Trendreport für die nächsten Jahre — ganz ohne Hype">
    <meta property="og:image" content="{{site.url}}/img/og-teaser.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="sz-innovation.github.io">
    <meta property="twitter:url" content="https://sz-innovation.github.io/entwicklungsreport-2021/">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="Ein Trendreport für die nächsten Jahre — ganz ohne Hype">
    <meta name="twitter:image" content="{{site.url}}/img/og-teaser.jpg">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <!--Facvicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{site.url}}/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{site.url}}/img/favicon/safari-pinned-tab.svg" color="#FFD601">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">