<script type="text/javascript">
var toggle = false;
var menuButton = document.querySelector('#menu-button');
var contents = document.querySelector('#contents');

function toggleContent() {
    if (toggle == false) {
        contents.classList.remove("dn");
        contents.classList.add("opened");
        document.body.classList.add("contents-open");
        toggle = true;
    } else {
        contents.classList.add("dn");
        contents.classList.remove("opened");
        document.body.classList.remove("contents-open");
        toggle = false;
    }
}

menuButton.addEventListener("click", function() {
    contents.classList.remove("dn");
    contents.classList.add("opened");
    document.body.classList.add("contents-open");
    toggle = true;
});

contents.addEventListener("click", function() {
    contents.classList.add("dn");
    contents.classList.remove("opened");
    document.body.classList.remove("contents-open");
    toggle = false;
});
</script>