<script type="text/javascript">

// MENU SCRIPS
var menuButton = document.querySelector('#menu-button');
var contents = document.querySelector('#contents');

menuButton.addEventListener("click", function() {
    let op = 0.1;  // initial opacity
    contents.style.opacity = op;
    contents.classList.remove("dn");
    contents.classList.add("opened");
    document.body.classList.add("contents-open");

    var timer = setInterval(function () {
        if (op >= 1){
            clearInterval(timer);
        }
        contents.style.opacity = op;
        contents.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op += op * 0.1;
    }, 10);
});

contents.addEventListener("click", function() {
    contents.classList.add("dn");
    contents.classList.remove("opened");
    document.body.classList.remove("contents-open");
});

// BINDERY.JS

document.querySelector('#print-btn').addEventListener("click", function() {
    document.querySelector('#nav').classList.add('dn');
    document.querySelector('#print-btn').classList.add('dn');
    Bindery.makeBook({
        content: '#content',
        rules: [
            Bindery.PageBreak({ selector: 'h2', position: 'before' }),
            Bindery.FullBleedSpread({ selector: '.big-figure' }),
        ],
     });
});
</script>