//CONTENTS
.current-page {
    background-color: yellow;
}

//TREND CAROUSEL
/*.trend-element { 
    flex: 0 0 20em;
    scroll-snap-align: start;
}
#trend-container::-webkit-scrollbar { display: none;}

#trend-container {
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: x mandatory;

    & .img {
        width: 100%;
        border-radius: 5px;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}*/

//IMAGE STYLES
img {border-radius: 5px;}

// Next & Prev Article Navigation
.next::after {
    content: " →";
}

.prev::before {
    content: "← ";
}