html, body{min-height:100%;}
body{
    height:100vh;
    margin: 0;
    padding: 0;
    background-color: #FFCC00;
}

//CONTENTS
.current-page {
    background-color: yellow;
}

//IMAGE STYLES
img {border-radius: 5px;}

// Next & Prev Article Navigation
.next::after {
    content: " →";
}

.prev::before {
    content: "← ";
}

//NAV BAR

nav {
    position: sticky;
    top: 10;
    margin: 0 0;
    z-index: 100;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
nav ul {
    list-style-type:none;
    padding: 0;

}

#menu-button {
    position: fixed;
    top: 0;
    right: 10;
    text-align: right;
    z-index: 100;
    background: none;
    cursor: pointer;
}

.contents-open {
    overflow: hidden;
}

.opened {
    position: fixed;
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding-top: 50px;
    top: 0;
    height: 100%;

    a {color: #F4F4F4;}
}