@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap');

@font-face {
    font-family: 'Junicode-Condensed';
    src: url('https://sz-innovation.github.io/entwicklungsreport-2021/fonts/junicode-boldcondensed-webfont.woff') format('woff'),
         url('fonts/junicode-boldcondensed-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Junicode-Condensed';
    src: url('https://sz-innovation.github.io/entwicklungsreport-2021/fonts/junicode-regularcondensed-webfont.woff') format('woff'),
         url('/fonts/junicode-regularcondensed-webfont.woff') format('woff');
    font-weight: normal;
}

body {
    font-size: 1.5em;

    font-kerning: normal;
    hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-chars: auto 3;
    -webkit-hyphenate-limit-lines: 4;
    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: auto 3;
    -ms-hyphenate-limit-lines: 4;
}

.pre, .next {
    hyphens: none;
}

// FONT HELPERS

.sans-serif {
    font-family: 'Inter', sans-serif !important;
}

.mono {
    font-family: 'Source Code Pro', monospace !important;
}

.junicode {
    font-family: 'Junicode-Condensed' !important;
}

//TYPE

h1, h2, h3, h4, h5 {
    font-weight: normal;
    hyphens: none;
}

section {
    h2, h3, h4, h5 {
        font-family: 'Source Code Pro', monospace !important;
        font-size: 0.8em;
        color: var(--main-contrast);
        margin-left: 1.0em;
        margin-top: 3em;
    }

    h1 {
        font-family: 'Junicode-Condensed' !important;
        margin-left: 1.5em;
    }

    div, p {
        margin-left: 2em;
    }
}

/*ELEMENTS*/

#splash-header {
    height: 70%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    font-size: 13vw;
    justify-content: center;
    max-width: 6em;
    hyphens: none;

    h1 {
        font-size: 15vw;
        line-height: 1;

        @media (min-width: 90vh) {
        font-size: 9vh;
        max-width: 6em;
        margin: 0 auto;
        }
    }
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: -1;
    left: 0;
    padding-left: 1.5em;
    text-indent:-1.5em;
    margin: 0 0;
    z-index: 50;
    box-shadow: 0px 0px 40px #e9e0d6;
}

.sticky-header:before {
    content: "CHPT: ";
    font-size: 0.4em;
    color: var(--text-secondary);
    font-family: 'Source Code Pro', monospace !important;
}

.tweet-button {
    position: relative;
    top: -2;
    font-size: 0.3em;
}