---
layout: default
---

<div class="mt6 flex flex-wrap">
    <div class="w-70-ns w-100 bt">
        <div class="bb">{% include next-previous-article.html %}</div>
        <article class="f3-ns f4 mt5 mb6">
            <div class="mb6">
                <div class="br-100 pa3 w4 h4 bg-yellow">
                    <img src="{{site.url}}/img/{{ page.teaser-img }}">
                </div>
                <h1 class="f1-ns f2 ma0 pt3 measure w-60-ns">{{ page.title }}</h1>
                <p class="i self-end mb6 mb2-ns lh-copy measure">{{ page.subtitle }} <a class="f6 pa1 pl2 pr2 br-pill link black bg-yellow mt0 mono fs-normal" target="_blank" href="https://twitter.com/intent/tweet/?text={{ page.subtitle | replace: " ", "%20" }}%20{{page.url}}">Tweet</a></p>
            </div>
            <div class="lh-copy measure-ns pr3-ns">{{ content }}</div>
        </article>
        <div class="bt">{% include next-previous-article.html %}</div>
    </div>
    <div class="w-30-ns w-100 pb7 bl-ns bt">
        <p class="pa2 pl3 pb3 f4-ns f5 bb">Inhaltsverzeichnis</p>
        {% for article in site.trends %}
            {% if article.title == page.title %}
            <div class="pa3 bb ma0 bg-yellow">
                <a href="{{site.url}}/{{ article.url }}" class="link black">
                    <p class="pa0 ma0 f4-ns f5">{{ article.title }}</p>
                </a>
            </div>
            
            {% else %}

            <div class="pa3 bb ma0 hover-bg-yellow">
                <a href="{{site.url}}/{{ article.url }}" class="link black">
                    <p class="pa0 ma0 f4-ns f5">{{ article.title }}</p>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
